extends base

block content
  main.main
    .user-view
      include _nav
      .user-view-content
        span.page-header
          .page-title Account History
          - const d = new Date();
          - const month = ['January','February','March','April','May','June','July','August','September','October','November','December'];
          - const day = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
          - const today = day[d.getDay()] + ', ' + month[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear();
            .page-date.small= `Today is ${today}`
        hr.sectionHR
        .section 
          .history-header= user.name.split(' ')[0]
            span 's Current Bookings
          - const count = events.length;
          - const curcount = currents.length;
          - const pastcount = pastevents.length;
            .booking-count.small= `Showing ${curcount} of ${count} Current Bookings`
          if curcount == 0
            .booking-row 
              .booking-subhead No current bookings to display at this time.
          else
            each current in currents 
              .history-row
                .history-booking-head
                  .booking-subhead= current.eventDate 
                  .history-text= `Time: ${current.eventTime}`
                .history-subhead Service Booked: 
                  .history-text= current.service.title 
          if count > 0       
            .cancel-booking-row
              a.form-text(href='/bookings') See all current bookings                
                    
        hr.sectionHR
        .section 
          .history-header= user.name.split(' ')[0]
            span 's Past Bookings
          
          .booking-count.small= `Showing ${pastcount} of ${pastcount} Bookings`
          if pastcount == 0
            .booking-row 
              .booking-subhead No past bookings to display at this time.
          else
            each pastevent in pastevents 
              .history-row
                .history-booking-head
                  .booking-subhead= pastevent.eventDate 
                  .history-text= `Time: ${pastevent.eventTime}`
                .history-subhead Service Booked: 
                  .history-text= pastevent.service.title  
                .cancel-booking-row
                  a.create-review(href='#', 
                  data-date=`${pastevent.eventDate}`, 
                  data-time=`${pastevent.eventTime}`,
                  data-service=`${pastevent.service.title}`,
                  data-id=`${pastevent.id}`,
                  ) Leave a Review                
                    
        hr.sectionHR
        .section 
          .history-header= user.name.split(' ')[0]
            span 's Reviews
          - const reviewcount = reviews.length;
          - const reviewcount2 = reviews2.length;
            .booking-count.small= `Showing ${reviewcount2} of ${reviewcount} Reviews`
          if reviewcount == 0
            .booking-row 
              .booking-subhead No reviews to display at this time.
          else
            each review2 in reviews2 
              .booking-row
                .booking-subhead Service Reviewed: 
                  .booking-text= review2.service
                .booking-subhead Rating: 
                  .booking-text= review2.rating  
                .booking-subhead Review: 
                  .booking-text= review2.review  
                .booking-subhead Date Reviewed: 
                  .booking-text= review2.createdAt               
                hr.sectionHR 
          if reviewcount > 0
            .cancel-booking-row
              a.form-text(href='/reviews') View/Delete Reviews

  include _reviewmodal  