extends base
mixin google-map-place(query, key)
  - if ("alt" in attributes)
    - alt = attributes.alt;
    - delete attributes.alt;
  - else
    - alt = true;
  - if (query.length == 27 && query.indexOf(["+"]) < 1)
    - query = "place_id:" + query
  - else
    - query = query.replace(/ /g, "+");
  iframe(src=`https://google.com/maps/embed/v1/place?key=${key}&q=${query}`
         frameborder="0"
         width="100%" 
         height="450")&attributes(attributes)
    - if (alt)
      | Your browser does not support iframes.

block content
  main.main
    .page-content
      .service-section 
        .section-title-row
          .page-title= title
      .service-section 
        .section-row
          .section-col
            form#contact-form
              .form-group
                label.form-label(for='name') Your Name
                input#name.form-input(type='text', required)
              .form-group
                label.form-label(for='email') Email address
                input#email.form-input(type='email', required)
              .form-group
                label.form-label(for='phone') Phone Number
                  span.small format 000-000-0000
                input#phone.form-input(type='tel', pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}')
              .form-group
                label.form-label(for='contact-message') Your Message
                textarea.form-textarea#contact-message(name='contact-message', required) 
              .form-group
                button.submitButton.submit.form-button Send Request
          .section-col 
            .text-col
              .row
                .column
                  .logo COMPANY LOGO GOES HERE
                .column
                  .section-title Company Name 
                  .section-text 12345 Main Street 
                  .section-text This City, State 00000
                  br
                  .section-text (000) 000-0000
                  br
                  a(href='mailto:contact@emailaddress.com').section-text contact@emailaddress.com
            +google-map-place('Huntington Beach, California', `${process.env.GOOGLE_API}`)(maptype="roadmap")
              

