extends base

block content
  main.main
    .page-content
      
      .service-section 
        .service-title-row
          .page-title= title
      - const count = services.length;         
      if count == 0
        .service-row 
          .booking-subhead No available services to display at this time.
      else
        each service in services 
          .service-section
            - const pageTag = service.title.replace(/\s/g, '');
                div(id=pageTag)
            .service-row
              .service-left
                .service-subhead= service.title 
                .service-subtitle= service.subtitle
                  
                - const paragraphs = service.description.split('|');
                each p in paragraphs
                  .service-text= p

                if user 
                  a.book-now-button(href=`/bookService/${service.id}`) Book Now
                else 
                  a.book-now-button(href='/login') Login to Book Now
                  .service-text Don't have an account? 
                    a(href='/signup') Create one now
                    span  to book an appointment!

              .service-right
                img(src=`images/services/${service.photo}`, alt=`Photo for ${service.title}`)
