extends base

block content
  main.main
    .user-view
      include _nav
      .user-view-content
        span.page-header
          span.page-title= user.name.split(' ')[0]
            span 's History
          - const d = new Date();
          - const month = ['January','February','March','April','May','June','July','August','September','October','November','December'];
          - const day = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
          - const today = day[d.getDay()] + ', ' + month[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear();
            .page-date.small= `Today is ${today}`
        .section 
          - const count = events.length;
            .booking-count.small= `Showing ${count} of ${count} Bookings`
          if count == 0
            .booking-row 
              .booking-subhead No past bookings to display at this time.
          else
            each event in events 
              .booking-row
                .booking-subhead Appointment Date: 
                  .booking-text= event.eventDate
                .booking-subhead Service: 
                  .booking-text= event.service
                .booking-subhead Appointment Time: 
                  .booking-text= event.eventTime
                hr.sectionHR      